
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>

<% include template/header.ejs%>

<!-- Begin page content -->

<main role="main" class="container">
    <h1>Create a new event</h1>
    <form id=“xForm" onsubmit="onSubmit()">
        <label for='eventname'>Name:</label>
        <input type="text" name="eventname" id="eventname">
            <p><label for='eventdate'>Date:</label>
                <input type="number" name="eventdate" id="eventdate">
            </p>
            <p><label for='eventlocation'>Location:</label>
                <input type="text" name="eventlocation" id="eventdate">
            </p>
            <p>
                <input type="submit" name="g" value="Submit" id="g">
            </p>
    </form>
</main>

<% include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!--Navigation bar-->
</body>
</html>
