
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/main.ico">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/displayEvents.js"></script>

  <title>Eventure</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
          <style>
            .event-cards {
              margin-top:1.0em;
            }

            .card-story-counter {
              float: right;
            }

            .red {
              color: red;
            }

            .top-bar {
              height:0.1em;
              background-color:red;
            }

            .card-internal {
              background-color: red;
              width:50%;

            }

            .padding {
              padding:0.5em;
            }



          </style>
</head>

<body>
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
  <div class="card">
    <div class="card-header">
      ⚡ Featured event
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <div class = "card event-cards">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 padding"><img src="images/portrait.jpg" width="100%"></img>
          </div>
          <div class="col-md-4 padding"><img src="images/portrait2.jpg" width="100%"></img>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <a href=""><div class="card event-cards">
    <div class="card-body">
      Apollo 13, Moscow
      <div class = "card-story-counter red">&nbsp; 2</div>
      <div class = "card-story-counter">Stories:</div>
    </div>
  </div></a>

  </div>
  <hr></hr>
  <div class="card">
    <div class="card-header">
      🎉 Current events
    </div>
  </div>
  <script type="text/javascript">
    drawEvents();
  </script>
  <a href=""><div class="card event-cards">
    <div class="card-body">
      Greco-Persian Wars, Athens
      <div class = "card-story-counter red">&nbsp; 0</div>
      <div class = "card-story-counter">Stories:</div>
    </div>
  </div></a>

  <a href=""><div class="card event-cards">
    <div class="card-body">
      Beginning of Aviation, Paris
      <div class = "card-story-counter red">&nbsp; 0</div>
      <div class = "card-story-counter">Stories:</div>
    </div>
  </div></a>

  <a href=""> <div class="card event-cards">
    <div class="card-body">
      Apollo 11, Berlin
      <div class = "card-story-counter red">&nbsp; 0</div>
      <div class = "card-story-counter">Stories:</div>
    </div></a>
  </div>

  <a href=""><div class="card event-cards">
    <div class="card-body">
      Sputnik 1, London
      <div class = "card-story-counter red">&nbsp; 0</div>
      <div class = "card-story-counter">Stories:</div>
    </div>
  </div></a>

<a href=""><div class="card event-cards">
    <div class="card-body">
      Victory in Europe Day, New York
      <div class = "card-story-counter red">&nbsp; 0</div>
      <div class = "card-story-counter">Stories:</div>
    </div>
  </div></a>

</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!--Navigation bar-->
</body>
</html>
