<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">
  <link href="images/main.ico" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/scripts/eventScripts.js"></script>
  <script src="/scripts/userScripts.js"></script>

  <title>Eventure</title>

  <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/" rel="canonical">

  <style>
    .event-cards {
      margin-top: 1.0em;
    }


    .thumbnail-story img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0em;
      margin-bottom: 0.3em;
      -webkit-box-shadow: 3px 7px 22px -9px rgba(166,0,0,1);
      -moz-box-shadow: 3px 7px 22px -9px rgba(166,0,0,1);
      box-shadow: 3px 7px 22px -9px rgba(166,0,0,1);
    }

    .margin-top-featured {
      margin-top: 1em !important;
    }

    @media only screen and (max-width: 750px) {

      .thumbnail-story img {
        width: 13em !important;
        height: 13em !important;
      }
      .card-img-top {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    @media only screen and (min-width: 1000px) {
      #eventList {
        padding: 60px 65px 0;
      }
    }

    .row {
      margin-right: -5px !important;
      margin-left: -5px !important;
    }

    .search-box-margin {
      margin-bottom: 0em !important;
    }

    input {
      background: white !important;
    }

    #hold_all_the_events {
      max-height:500px;
      overflow: auto;
    }

    .form-control-borderless {
      border-left-width: 1px !important;
      border-top-width: 1px !important;
    }

    .form-control-borderless:hover,
    .form-control-borderless:active,
    .form-control-borderless:focus {
      outline: none;
      box-shadow: none;
    }

    .no-border-radius {
      margin-right: 10px;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    #featured_photo {
      padding: 0;
      border-width: 2px !important;

    }

    #main-container-features, #features_id, #all_events_id {
      display: none;
      color: black !important;
    }

    #featured_photo *{

      color:black !important;
    }

    .border1 {
      border-width: 1px !important;
      margin-top: 0 !important;
    }

    #main-container-features {
      margin-top: 0 !important;
      border-top-width: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    #features_id {
      border-bottom-width: 0 !important;
    }

    form.card.card-sm {
      border-width: 0px !important;
      font-size: 5pt !important;
    }

    #featured_photo {
      border-width: 0px !important;
    }

    /*input *{*/
      /*border-width: 1px !important;*/
    /*}*/

    /*#featured_photo img:hover {*/
      /*border-width: 3px !important;*/
      /*border-color: powderblue;*/
    /*}*/

    #map {
      height: 425px;
    }

    #event_super_container {
      overflow: auto !important;
      max-height: 450px !important;
    }

    .float-it {
      float: left;
    }
  </style>
</head>

<body onload="getAllEventData()">

<header>
  <% include template/header.ejs%>
</header>

<!-- Begin page content -->
<main role="main" class="container" id="eventList">
  <div class="card margin-top-featured" id="features_id">
    <div class="card-header" style="color:red; text-align: center ">
      <i>⚡ Featured</i>
      <div class="card event-cards" id="main-container-features" style="background-color: #f7f7f7;border-width: 0 !important;">
        <div class="card-body" id="featured_photo">
          <div class="container-fluid">
            <div class="row center" id="feature_thing_1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->



  <div class="card event-cards search-box-margin">
    <div class="col-12">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" id="searchBox" type="search" placeholder="Search event names, dates, locations" onkeyup="updateResults(this.value)">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <!--<button class="btn btn-lg btn-primary no-border-radius" type="submit">-->
              <!--<i class="fas fa-search"></i>-->
            <!--</button>-->
            <button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" style="margin-left: 20px !important;" aria-controls="collapseExample">
              <i class="fas fa-map"></i>
            </button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
  </div>
  <div class="collapse search-box-margin" id="collapseExample">
    <div class="card event-cards">
      <div class="card-body" id="james_is_the_best">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <!--<div class="card margin-top-featured" id="">-->
    <!--<div class="card-header" id="live_chat" style="border-bottom-width:0px;color:red;border-bottom-left-radius: 0; border-bottom-right-radius: 0 !important; text-align: center">-->
      <!--<i style="border-bottom-right-radius: 0">Live chat</i>-->
    <!--</div>-->
  <!--</div>-->
    <!--<ul id="messages" style="border-bottom-width: 0 !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" class="card">-->
      <!--<i><li style="color:red; font-size: 10px;">You can't view any messages older than your join time.</li></i>-->
    <!--</ul>-->

  <!--<form action="">-->
    <!--<input style='border-top-width:0;  padding:15px;height: 30px; width: 100%; border-color: lightgrey !important; border-left-width: 0px !important;border-right-width: 0px !important; border-top-width: 1px !important;' id="m" autocomplete="off" placeholder="Type message here and press enter"/>-->
  <!--</form>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>-->
  <!--<script>-->
    <!--var socket = io.connect('http://localhost:3001');-->
    <!--socket.emit('join', 'homeRoom');-->
    <!--console.log(socket.rooms);-->
    <!--$('form').submit(function(e){-->
      <!--e.preventDefault(); // prevents page reloading-->
      <!--socket.emit('chat message', 'homeRoom', $('#m').val());-->
      <!--$('#m').val('');-->

      <!--return false;-->
    <!--});-->
    <!--socket.on('chat message', function(msg){-->
      <!--msg = "Anon: " + msg;-->
      <!--$('#messages').append($('<li>').text(msg));-->
      <!--var elem = document.getElementById('messages');-->
      <!--elem.scrollTop = elem.scrollHeight;-->
    <!--});-->
  <!--</script>-->



  <br>
  <div class="card margin-top-featured border1" style="margin-bottom: 1em; border-width: 1px !important; margin-bottom:2em !important;">
    <div class="card-header" style="border-bottom-width: 0 !important;">
      <a class="btn btn-link pull-left">All Events</a>
      <a href="/new_event" class="btn btn-dark pull-right" style="float: right; color: white !important;"><i style="color: white !important;" class="fas fa-calendar-day"></i> Create event</a>
    </div>
  </div>

  <div class="container-fluid col-md-12" id="hold_all_the_events" style="margin-bottom: 1em;">
    <div class="row" id="main_row">
    </div>
  </div>
</main>
<%include template/footer.ejs%>
<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: -53.3811,
        lng: 1.4701
      },
      zoom: 9
    });
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      var image = {
        url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      };

      var myLatLng = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        position: myLatLng,

        animation: google.maps.Animation.DROP
      });
      map.setCenter(pos);
    });
  }
</script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm5EmU8b35j-9fhgd7nll5IePADt_0z88&callback=initMap"></script>
<script>
  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function main() {
    var user_email = getCookie("username");
    form_info = document.getElementById('new_account_thing');
    form_info.innerHTML = user_email;
  }
</script>
</body>

</html>