<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/scripts/userScripts.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }



        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }

        main {
            width: 25em !important;
        }


    </style>
</head>

<body>
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">

    <div class="card">
        <div class="card-header" style="border-bottom-width: 0px;">
            🔑 Login
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body" id="loginCard">
            <form id=“xForm" onsubmit="login()">
                <div class="form-group">
                    <label for="loginUsername">Login Username</label>
                    <input type="name" class="form-control" name="loginUsername" id="loginUsername" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Password" required>
                </div>
                <p><input type="submit" name="g" id="g" class="btn btn-danger btn-block" value="Submit"></p>
            </form>
        </div>
    </div>
</main>
<body>
<%include template/footer.ejs%>

    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function main() {
            form_info = document.getElementById('loginEmail').value;
            setCookie("username", form_info,5);
            console.log(form_info);
        }

    </script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script>

</script>

</body>
</html>
