
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }


        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }


    </style>
</head>

<body>

<header>
    <div class="top-bar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="images/Asset 13@288x.png" width="19" height="30" alt="logo" class="logo-nav">
        <a class="navbar-brand" href="#">Eventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link active" href="story_new">New Story</a>
                <a class="nav-item nav-link" href="event_new">New Event</a>
                <a class="nav-item nav-link" href="event_nearby">Map (events nearby)</a>
                <a class="nav-item nav-link disabled" href="#">New Account</a>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            📷 Create a new story
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="eventName">Title</label>
                    <input type="email" class="form-control" id="eventName" aria-describedby="eventHelp" placeholder="Story name">
                    </input>
                </div>
                <div class="form-group">
                    <label for="inputState">Event association</label>
                    <select id="inputState" class="form-control">
                        <option selected>Beginning of Avaiation</option>
                        <option selected>Sputnik 1</option>
                    </select>
                </div>

                <div class = "form-group">
                    <label for="inputState">Event location</label>
                    <input class="form-control" type="text" placeholder="Paris" readonly>
                </div>

                <div class = "form-group">
                    <label for="inputState">Event date</label>
                    <input class="form-control" type="text" placeholder="02/01/1993" readonly>
                </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Story photo</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



</main>
<br></br>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!--Navigation bar-->
</body>
</html>
