
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="/scripts/storyScripts.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/scripts/newPhoto.js"></script>

    <title>Eventure</title>


    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }


        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }

        main {
            width: 25em !important;
        }

        #take-photo-button {
            margin-bottom: 1em;
        }


    </style>
</head>

<body>

<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            📷 Create a new story
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form id=“xForm" onsubmit="newStory()">
                <div class="form-group">
                    <label for="eventID">Event ID</label>
                    <input type="number" class="form-control" id="eventID" name="eventID" aria-describedby="eventHelp">
                </div>
                <div class = "form-group">
                    <label for="caption">Caption</label>
                    <input class="form-control" type="text" id="caption" name="caption">
                </div>
                <div class="form-group">
                    <label for="eventPhoto">Event photo</label>
                    <input type="file" class="form-control-file" name = "storyPhoto" id="storyPhoto">
                </div>

                <p><input type="submit" name="g" value="Post" id="g"></p>
            </form>

            <!-- Photo input modal -->
            <div class="modal fade" id="photo" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Photo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="photoSize">
                            <div id="camera">
                                <video id="video" style="display:none;" autoplay></video>
                                <img id="takenPhoto" src="">
                                <canvas id="canvas" style="display:none;"></canvas>
                            </div>
                            <!-- Buttons to open the camera and then take the photo -->
                            <button id="load" type="button" onclick="takePhoto()" class="btn btn-success btn-block">Open Camera</button>
                            <button id="take" style="display:none;" type="button" class="btn btn-success btn-block">Take Photo</button>
                            <div id="noSupport" class="row" style="display: none">
                                <div class="text-center mt-1">
                                    <p style="color: red;">This function is not supported by your device.</p>
                                </div>
                            </div>
                            <form class="mt-2" id="newImage" action="#">
                                <input type="file" class="btn btn-outline-success col-8" name="fileupload" value="fileupload" id="fileupload">
                                <input type="submit" class="btn btn-success pb-2 col-3 float-right" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Navigation bar-->
</body>
</html>
