
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/scripts/newPhoto.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }


        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }


    </style>
</head>

<body>

<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            📷 Create a new story
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="eventName">Title</label>
                    <input type="email" class="form-control" id="eventName" aria-describedby="eventHelp" placeholder="Story name">
                    </input>
                </div>
                <div class="form-group">
                    <label for="inputState">Event association</label>
                    <select id="inputState" class="form-control">
                        <option selected>Beginning of Avaiation</option>
                        <option selected>Sputnik 1</option>
                    </select>
                </div>

                <div class = "form-group">
                    <label for="inputState">Event location</label>
                    <input class="form-control" type="text" placeholder="Paris" readonly>
                </div>

                <div class = "form-group">
                    <label for="inputState">Event date</label>
                    <input class="form-control" type="text" placeholder="02/01/1993" readonly>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlFile1">Story photo</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#photo">Take Photo</button>
                </form>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- Photo input modal -->
            <div class="modal fade" id="photo" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Photo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="photoSize">
                            <div id="camera">
                                <video id="video" style="display:none;" autoplay></video>
                                <img id="takenPhoto" src="">
                                <canvas id="canvas" style="display:none;"></canvas>
                            </div>
                            <!-- Buttons to open the camera and then take the photo -->
                            <button id="load" type="button" onclick="takePhoto()" class="btn btn-success btn-block">Open Camera</button>
                            <button id="take" style="display:none;" type="button" class="btn btn-success btn-block">Take Photo</button>
                            <div id="noSupport" class="row" style="display: none">
                                <div class="text-center mt-1">
                                    <p style="color: red;">This function is not supported by your device.</p>
                                </div>
                            </div>
                            <form class="mt-2" id="newImage" action="#">
                                <input type="file" class="btn btn-outline-success col-8" name="fileupload" value="fileupload" id="fileupload">
                                <input type="submit" class="btn btn-success pb-2 col-3 float-right" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!--Navigation bar-->
</body>
</html>
