
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="/scripts/storyScripts.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/scripts/newPhoto.js"></script>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Eventure</title>

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }

        .card-story-counter {
            float: right;
        }

        .btn-dark {
            color: #fff !important;
            background-color: #343a40 !important;
            border-color: #343a40 !important;
            border-radius: 5px !important;

        }

        .red {
            color: red;
        }

        main {
            width: 25em !important;
        }

        #take-photo-button {
            margin-bottom: 1em;
        }


    </style>
</head>

<body onload="getEventName(<%= id%>)">

<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            📷 Create a new story
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form id=“xForm" onsubmit="newStory()">
            <input hidden id="storyDate" name="storyDate">
            <input hidden id="storyTime" name="storyTime">
            <input hidden type="text" id="eventId" name="eventId" value="<%= id%>">
            <div class="form-group">
                <label for="eventId">Event</label><br>
<!--                <select class="form-control" id="eventId" name="eventId">-->
<!--                </select>-->
                <input type="text" id="eventName" name="eventName" value="" disabled>
            </div>
            <div class = "form-group">
                <label for="caption">Caption</label>
                <input class="form-control" type="text" id="caption" name="caption">
            </div>
            <div class="form-group">
                <label for="eventPhoto">Event photo</label>
                <!--                    <input type="file" class="form-control-file" name = "storyPhoto" id="storyPhoto">-->
                <input type="file" onchange="previewFileSystem()"><br>
<!--                <img src="images/placeholder_img_prev.jpg" alt="Image preview..." class="eventImagePreview center">-->
                <img src="" width="100%" alt="Image preview..." class="imagePreview">
                <br>
                <button type="button" id="photoButton" class="btn btn-success float-right mt-2" data-toggle="modal" data-target="#photoModal">Take Photo</button>
            </div>
            <input hidden id="photoBlob" name="photoBlob">
                <script>
                    n =  new Date();
                    y = n.getFullYear();
                    m = n.getMonth() + 1;
                    d = n.getDate();
                    h = n.getHours();
                    mi = n.getMinutes();
                    s = n.getSeconds();
                    document.getElementById("storyDate").value = d + "/" + m + "/" + y;
                    document.getElementById("storyTime").value = h + ":" + mi + ":" + s;
                </script>
                <br></br>
                <!--<p><input type="submit" name="g"  id="g"></p>-->
                <p><input class="btn btn-block btn-dark" type="submit" name="g" value="Post" id="g"></p>
            </form>

            <!-- Photo input modal -->
            <div class="modal" id="photoModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Photo</h4>
                            <button type="button" class="close" onclick="closeModal()">&times;</button>
                        </div>
                        <div class="modal-body" id="photoSize">
                            <div id="camera">
                                <video id="video" style="display:none;" autoplay></video>
                                <img id="takenPhoto" src="">
                                <canvas id="canvas" style="display:none;"></canvas>
                            </div>
                            <!-- Buttons to open the camera and then take the photo -->
                            <button id="load" type="button" onclick="takePhoto()" class="btn btn-success btn-block">Open Camera</button>
                            <button id="take" style="display:none;" type="button" class="btn btn-success btn-block">Take Photo</button>
                            <div id="noSupport" class="row" style="display: none">
                                <div class="text-center mt-1">
                                    <p style="color: red;">This function is not supported by your device.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
<!--Navigation bar-->
</body>
</html>