<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">
    <script src="/scripts/eventScripts.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Eventure</title>

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }


        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }

        main {
            width: 25em !important;
        }


    </style>
</head>

<body>
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            🎉 Create a new event
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form id=“xForm" onsubmit="newEvent()">
                <div class="form-group">
                    <label for="eventName">Title</label>
                    <input type="name" class="form-control" name ="eventName" id="eventName" aria-describedby="eventHelp" placeholder="Event name">
                </div>
                <div class="form-group">
                    <label for="eventDescription">Title</label>
                    <input type="name" class="form-control" name = "eventDescription" id="eventDescription" aria-describedby="eventHelp" placeholder="Event description">
                </div>
                <div class="form-group">
                    <label for="eventLocation">Location</label>
                    <input type="name" class="form-control" name = "eventLocation" id="eventLocation" placeholder="Event location" required>
                </div>
                <div class="form-group">
                    <label for="eventDate">Date of event</label>
                    <input type="date" class="form-control" name = "eventDate" id="eventDate" placeholder="Event Date">
                </div>
                <div class="form-group">
                    <label for="eventPhoto">Event photo</label>
                    <input type="file" class="form-control-file" name = "eventPhoto" id="eventPhoto">
                </div>

                <p><input type="submit" name="g" value="Submit" id="g"></p>
            </form>
        </div>
    </div>



</main>
<br></br>
<%include template/footer.ejs%>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

        <!--Navigation bar-->
        </body>
        </html>
