<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">
    <script src="/scripts/eventScripts.js"></script>

    <script src="/databases/database.js"></script>
    <script src="/databases/idb.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Eventure</title>

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>

        .event-cards {
            margin-top:1.0em;
        }

        main {
            width: 25em !important;
        }

        .card-img-top {
            width: 100%;
            height: 17vw;
            object-fit: cover;
        }

        .btn-dark {
            color: #fff !important;
            background-color: #343a40 !important;
            border-color: #343a40 !important;
            border-radius: 5px !important;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

    </style>
</head>

<body>
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header" style="border-bottom-width: 0 !important;">
            🎉 Create a new event
        </div>
    </div>
    <div class="card event-cards">
    <div class="card-body">
        <form id=“xForm" onsubmit="newEvent()">
        <div class="form-group">
            <label for="eventName">Name</label>
            <input type="name" class="form-control" name ="eventName" id="eventName" aria-describedby="eventHelp" placeholder="Event name">
        </div>
        <div class="form-group">
            <label for="eventDescription">Description</label>
            <input type="name" class="form-control" name = "eventDescription" id="eventDescription" aria-describedby="eventHelp" placeholder="Event description">
        </div>

        <div class="form-group">

            <label for="line2">Location</label>
            <input type="name" class="form-control" name = "line1" id="line1" placeholder="Address line 1" required>
            <input type="name" class="form-control" name = "line2" id="line2" placeholder="Address line 2">
            <input type="name" class="form-control" name = "postalCode" id="postalCode" placeholder="Post code" required>
            <input type="name" class="form-control" name = "city" id="city" placeholder="City">
        </div>

        <div class="form-group">

            <label for="eventDate">Date</label>
            <input type="date" class="form-control" name = "eventDate" id="eventDate" placeholder="Event Date">
        </div>
        <div class="form-group">
            <label for="eventPhoto">Header photo</label>
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-file">
                        <input type="file" onchange="fileSystemPhoto()"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/placeholder_img_prev.jpg" alt="Image preview..." class="eventImagePreview center">
                    </div>
                </div>
                <br>
            </div>
            <input hidden id="eventPhoto" name="eventPhoto">
            <!--<p><input class="btn btn-block btn-dark" type="submit" name="g" value="Submit" id="g"></p>-->
            <p><input type="submit" name="g" id="g" class="btn btn-danger btn-block" value="Submit"></p>

        </div>
        </form>
    </div>
</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
