
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/userScripts.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }

        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }

        main {
            width: 25em !important;
        }

    </style>
</head>

<body>
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="card">
        <div class="card-header">
            ✍️ Create account
        </div>
    </div>
    <div class="card event-cards">
        <div class="card-body">
            <form id=“xForm" onsubmit="signUp()">
                <div class="form-group">
                    <label for="loginFirstName">Name</label>
                    <input type="name" class="form-control" name="loginFirstName" id="loginFirstName" placeholder="John" required>
                </div>
                <div class="form-group">
                    <label for="loginLastName">Name</label>
                    <input type="name" class="form-control" name="loginLastName" id="loginLastName" placeholder="Long" required>
                </div>
                <div class="form-group">
                    <label for="loginEmail">Email</label>
                    <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="john@email.com" required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" name="loginPassword" id="loginPassword" oninput="setPasswordConfirmValidity();" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" oninput="setPasswordConfirmValidity();" placeholder="Confirm Password" required>
                </div>
                <script>
                    function setPasswordConfirmValidity(str) {
                        const password1 = document.getElementById('loginPassword');
                        const password2 = document.getElementById('confirmPassword');

                        if (password1.value === password2.value) {
                            password2.setCustomValidity('');
                        } else {
                            password2.setCustomValidity('Passwords must match');
                        }
                    }
                </script>
                <p><input type="submit" name="g" value="Submit" id="g"></p>
            </form>
        </div>
    </div>
</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!--Navigation bar-->
</body>
</html>
