
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/eventScripts.js"></script>
    <script src="/scripts/storyScripts.js"></script>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Eventure</title>



    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <style>
        .event-cards {
            margin-top:1.0em;
        }

        .card-story-counter {
            float: right;
        }



        .top-bar {
            height:0.1em;
            background-color:red;
        }

        .card-internal {
            background-color: red;
            width:50%;

        }

        .padding {
            padding:0.5em;
        }

        .story-preview {
            border-radius: 90%;
        }

        .thumbnail-story img {
            width: 5.5em; /* You can set the dimensions to whatever you want */
            height: 5.5em;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-width: 1px;
            border-style: solid;
            border-color: ghostwhite;
            box-shadow: 2px 2px;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .thumbnail-story-container {
            margin: auto;
            padding: 10px;
        }

        .card-body *{
            text-align: center;
            align-content: center;
        }

        .carousel {
            color: transparent !important;
        }

        .author-blue {
            color: #00B7FF;
        }



        @media only screen and (max-width: 750px)  {
            .thumbnail-story img{
                width: 13em !important;
                height: 13em !important;
            }
        }


        .fit {
            width: 100%; /* You can set the dimensions to whatever you want */
            height: 25em;
            object-fit: cover;
            display: block;
            box-shadow: 2px 2px;
            margin-top: 1em;
            margin-bottom: 1em;

        }

        @media only screen and (min-width: 751px)  {
            .fit {
                height: 35em !important;
                object-fit: contain;
                /*transform: scale(0.6, 0.6);*/

            }
        }



        .padding-override {
            padding: 0em !important;
        }

        .row {
            margin-right: -5px !important;
            margin-left: -5px !important;
        }

        .description p {
            text-align: left !important;
            align-content: left !important;
            margin: 0 auto !important;
        }

        .title {
            font-weight: 800 !important;
        }


        .description-container {
            width: 100% !important;
            float: left !important;
        }

        .desc {
            float: left;
            text-align: left;
        }

        /*#nameAndLocation *{*/
            /*color:white !important;*/
        /*}*/

        #description_event {
            font-style: oblique;
        }

        .card.event-cards {
            border-radius: 0.5em !important;
        }

        #time_of_story {
            font-size:10px !important;
        }

        .masthead {
            height: 17em;
            /*background-image: url('/images/placeholder_img_prev.jpg');*/
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1em;
            border-radius: 5px;
        }

        .right {
            float:right;
            color: darkblue;
            font-size: 14px !important;
        }

        .event-cards {
            margin-bottom: 3em !important;
        }

        #title_of_story {
            color: red !important;
            font-size: 20px;
        }



        .left {
            color: #343a40;
            float: left;
            font-size: 14px !important;
        }

        #nameAndLocation {
            background-color: rgba(42, 54, 59, 0.5);
        }

    </style>
</head>

<body onload="getEvent(<%= id %>)">
<% include template/header.ejs%>

<!-- Begin page content -->
<main role="main" class="container" id="storyList">
    <!--<div class="card">-->
        <!--<div class="card-header" id="nameAndLocation">-->
            <!--<div class = "card-story-counter red">&nbsp; <span class="w3-badge w3-red">6</span></div>-->

            <!--<div class = "card-story-counter">Stories:</div>-->
        <!--</div>-->
        <!--<div id="description">-->
        <!--</div>-->
        <!--<img id="photoHeader" src = "">-->
    <!--</div>-->
    <header class="masthead" id="masthead_id">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center ">
                    <h1 class="font-weight-light "style="color:white;" id="nameAndLocation"></h1>
                    <p class="lead" id="smaller_title"></p>
                    <p class="lead" id="smaller_title_date"></p>
                </div>
            </div>
        </div>
    </header>

    <div class="card" style="margin-bottom: 1em;">
        <div class="card-header">
            <div class = "left"  id="address"></div>
            <div class = "right" id="date"></div>
        </div>
    </div>



    <!--<div class="card event-cards card-body-story">-->
        <!--<div class="card-body card-body-story">-->
            <!--Our favourite-->
            <!--<div class="container-fluid">-->
                <!--<div class="row center">-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/si2.jpg"></img>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/festival.jpg"></img>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/3.jpg"></img>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/1.jpg"></img>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/2.jpg"></img>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 thumbnail-story padding-override">-->
                        <!--<img src = "images/4.jpg"></img>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <hr></hr>
    <div class="card">
        <div class="card-header">
            All stories
        </div>
    </div>

    <!--<div class="card event-cards">-->
        <!--<div class="card-body card-body-story">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="carousel slide" id="carousel-702912">-->
                        <!--<div class="carousel-inner">-->
                            <!--<div class="carousel-item active" id="story_image">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row description-container">-->
                        <!--<div class="col-md-12 desc">-->
                            <!--<hr></hr>-->
                            <!--<b id="title_of_story"></b><br>-->
                            <!--<b id="time_of_story"></b>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>


</main>
<br></br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>

<script>


    $("img").click(function(){
        $(".carousel").carousel("next");
    });





</script>
<!--Navigation bar-->
</body>
</html>
