<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/images/main.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/eventScripts.js"></script>
    <script src="/scripts/storyScripts.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">

    <title>Eventure</title>

    <style>
        .card-body *{
            text-align: center;
            align-content: center;
        }

        .carousel {
            color: transparent !important;
        }
        @media only screen and (max-width: 750px)  {
            .thumbnail-story img{
                width: 13em !important;
                height: 13em !important;
            }
        }
        .row {
            margin-right: -5px !important;
            margin-left: -5px !important;
        }
        .description p {
            text-align: left !important;
            align-content: left !important;
            margin: 0 auto !important;
        }

        #description_event {
            font-style: oblique;
        }

        .right {
            float:right;
            color: darkblue;
            font-size: 14px !important;
        }

        #margin-bottom {
            margin-bottom: 1.3em !important;
        }

        .left {
            color: #343a40;
            float: left;
            font-size: 14px !important;
        }

        .pull-right {
            float: right;
        }

       #title-event{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:700; font-style: italic;
        }

        #messages {
            height: 150px;
            overflow: auto;
            background-color: white;
            margin-top:0em;
            list-style: none;
            margin-left: 0;
            padding-left: 0.5em;
            padding-top: 0.5em;
            color:darkblue;
            padding-bottom: 1em;
            border-top-width: 0px !important;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            margin-bottom: 0 !important;
        }

        #master-image {
            filter: blur(12px);
            opacity: 0.9;
            height: 300px;
            object-position: 30% 30%;
            object-fit:fill;
        }

        #title-event {
            -webkit-text-stroke: 1px black;
            font-family: initial !important;
            font-weight: bold !important;
        }

        .margin-bottom-1em {
            margin-bottom: 1em;
        }

    </style>

</head>

<body onload="getEvent(<%= id %>)">

<header>
    <% include template/header.ejs%>
</header>

<!-- Begin page content -->
<main role="main" class="container" id="storyList">
    <div class="col-md-12 margin-bottom-2">
        <div class="carousel slide"  id="carousel-438672">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" alt="Carousel Bootstrap First" id="master-image"/>
                    <div class="carousel-caption">
                        <h1 id="title-event">
                        </h1>
                        <p id="date" style="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 1em;margin-bottom: 1em;">
        <div class="card-header">
            <div class = "left"  id="address"></div>
            <div class = "right" id="date_small"></div>
        </div>
    </div>
    <div class="card margin-bottom-2">
        <div class="card-header" id="description_event">
        </div>
    </div>
    <hr></hr>
    <div class="card" id="margin-bottom">
        <div class="card-header">
            <a class="btn btn-link pull-left">All Stories</a>
            <a href="/new_story/<%= id%>" class="btn btn-danger pull-right">Add new story</a>
        </div>
    </div>
    <div class="container-fluid col-md-12" id="hold_all_the_events" style="margin-bottom: 1em; height:500px; overflow: auto">
        <div class="row" id="main_row2">
        </div>
    </div>
    <div class="card margin-top-featured" id="">
        <div class="card-header" id="live_chat" style="border-bottom-width:0px;color:red;border-bottom-left-radius: 0; border-bottom-right-radius: 0 !important; text-align: center">
            <i style="border-bottom-right-radius: 0">Live chat</i>
        </div>
    </div>
    <ul id="messages" style="border-bottom-width: 0 !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" class="card">
        <i><li style="color:red; font-size: 10px;">You can't view any messages older than your join time.</li></i>
    </ul>

    <form action="">
        <input style='margin-bottom:1em; border-top-width:0;  padding:15px;height: 30px; width: 100%; border-color: lightgrey !important; border-left-width: 0px !important;border-right-width: 0px !important; border-top-width: 1px !important;' id="m" autocomplete="off" placeholder="Type message here and press enter"/>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3001');
        socket.emit('join', 'homeRoom');
        console.log(socket.rooms);
        $('form').submit(function(e){
            e.preventDefault(); // prevents page reloading
            socket.emit('chat message', 'homeRoom', $('#m').val());
            $('#m').val('');

            return false;
        });
        socket.on('chat message', function(msg){
            msg = "Anon: " + msg;
            $('#messages').append($('<li>').text(msg));
            var elem = document.getElementById('messages');
            elem.scrollTop = elem.scrollHeight;
        });
    </script>
</main>
<br>
<%include template/footer.ejs%>

<!-- Bootstrap core JavaScript
================================================== -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>

</body>
</html>