
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Eventure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/"></link>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Karla|Press+Start+2P" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet"></link>
    <style>



        .event-cards {
            margin-top:1.0em;
        }


        .card-story-counter {
            float: right;
        }

        .red {
            color: red;
        }

        #map {
            height: 425px;
        }






    </style>
</head>

<body>
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Eventure 2019</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/styles/popper.min.js">
</script>
<!--<script src="/styles/bootstrap.min.js">-->
<!--</script> &lt;!&ndash;Navigation bar&ndash;&gt;-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--Navigation bar-->
</body>
</html>
