
<!doctype html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">
    <!-- Bootstrap core CSS -->

    <!--<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>

    <style>
        .event-cards {
            margin-top:1.0em;
        }

        .card-story-counter {
            float: right;
        }

        .top-bar {
            height:0.1em;
            background-color:red;
        }

        .card-internal {
            background-color: red;
            width:50%;
        }

        .padding {
            padding:0.5em;
        }

        .story-preview {
            border-radius: 90%;
        }

        .thumbnail-story img {
            width: 5.5em;
            height: 5.5em;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-width: 1px;
            border-style: solid;
            border-color: ghostwhite;
            box-shadow: 2px 2px;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .thumbnail-story-container {
            margin: auto;
            padding: 10px;
        }

        @media only screen and (max-width: 750px)  {
            .thumbnail-story img{
                width: 13em !important;
                height: 13em !important;
            }
        }

        .padding-override {
            padding: 0em !important;
        }

        .row {
            margin-right: -5px !important;
            margin-left: -5px !important;
        }

        a.link-remove-color {
            color:black !important;
        }

        .search-box-margin {
            margin-bottom: 1em;
        }

        input {
            background: white !important;
        }

        .mainSearch {
            width: 50% !important;
        }

        .form-control-borderless {
            border-left-width: 1px !important;
            border-top-width: 1px !important;
        }

        .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
            outline: none;
            box-shadow: none;
        }

        .no-border-radius {
            margin-right:10px;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }

        form.card.card-sm {
            border-width: 0px !important;
            font-size: 5pt !important;
        }

        #map {
            height: 425px;
        }

    </style>

    <title>Eventure</title>
</head>

<body>

<header>
    <div class="top-bar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="/images/Asset 13@288x.png" width="19" height="30" alt="logo" class="logo-nav">
        <a class="navbar-brand" href="/">Eventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link active" href="/new_story">New Story</a>
                <a class="nav-item nav-link active" href="/new_event">New Event</a>
                <a class="nav-item nav-link active" href="/view_event">View Event</a>
                <a class="nav-item nav-link active" href="/list_nearby_events">Events Map</a>
                <a class="nav-item nav-link active" href="/login">Login</a>
                <a class="nav-item nav-link active" href="/register">New Account</a>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>
