
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main.ico">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Eventure</title>
</head>

<body>

<header>
    <div class="top-bar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="images/Asset 13@288x.png" width="19" height="30" alt="logo" class="logo-nav">
        <a class="navbar-brand" href="#">Eventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link active" href="new_story">New Story</a>
                <a class="nav-item nav-link active" href="new_event">New Event</a>
                <a class="nav-item nav-link active" href="list_nearby_events">Events Map</a>
                <a class="nav-item nav-link disabled" href="new_user">New Account</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
